<div
  (pinch)="onPinch($event)"
  (pinchstart)="onPinchStart($event)"
  (pinchend)="onPinchEnd($event)"
  (wheel)="onScroll($event)"
  (panstart)="onPanStart($event)"
  (pan)="onPan($event)"
>
  <div id="infoPane" class="info">
    <button id="pauseButton" (tap)="pause()">Start/Stop</button>
    <span id="dateInfo">{{simDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    <br />
    <span>FPS: {{fps | number:0}} Celestial Bodies: {{totalBodies | number:0}}</span>
  </div>
  <div id="controlPane" class="info">
  </div>
  <div id="planetInfo" class="info" *ngIf="selectedBody">
    Body: <span>{{selectedBody.name}}</span>
  </div>
  <canvas
    id="systemCanvas"
    #systemCanvas
    [width]="area.x"
    [height]="area.y"
  ></canvas>
</div>
