#systemView {
  width: 100vw;
  height: 100vh;
}

.info {
  position: absolute;
  color: #ccc;
}

#infoPane {
  top: 0;
  left: 0;
}

#planetInfo {
  top: 0;
  right: 0;
  margin-right: 1ex;
}

#controlPane {
  top: 0;
  right: 30%;
}

#planetSearch {
  bottom: 0;
  right: 0;
}

.contextMenu {
  background: #303030;
  border: 1px solid #2a2a2a;
  color: white;
  position: fixed;
  z-index: 100;
  top: 200px;
  left: 200px;
  list-style: none;
  padding: 1px;
  visibility: hidden;
}

.contextMenu.open {
  visibility: visible;
}

.contextMenu li {
  text-align: left;
  padding: 1px;
}

.contextMenu li.option {
  cursor:pointer;
}

.contextMenu li.option:hover {
  background: #808080;
}
