<div
  (pinch)="onPinch($event)"
  (pinchstart)="onPinchStart($event)"
  (pinchend)="onPinchEnd($event)"
  (wheel)="onScroll($event)"
  (panstart)="onPanStart($event)"
  (pan)="onPan($event)"
>
  <div id="infoPane" class="info">
    <orb-sim-speed-bar [levels]="simSpeedFactor" [paused]="paused"
    [currentLevel]="simSpeed"
    (pauseToggle)="pause()"
    (speedClick)="setSimSpeed($event)"></orb-sim-speed-bar>
    <span id="dateInfo">{{simDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    <br />
    <span>FPS: {{fps | number:0}} Celestial Bodies: {{systemBodyList.length | number:0}}</span>
    <br />
    <span>
      Advance By Days: <button (tap)="advance(1)">1</button><button (tap)="advance(5)">5</button><button (tap)="advance(10)">10</button>
      <button (tap)="advance(30)">30</button><button (tap)="advance(60)">60</button>
    </span>
    <br />
    <orb-scale-indicator [scale]="scale"></orb-scale-indicator>
  </div>
  <div id="planetInfo" class="info" *ngIf="selectedBody">
    Body: <span>{{selectedBody.name}}</span>
  </div>
  <orb-expanding-search-box class="info" id="planetSearch" #planetSearch [searchResults]="searchResults" (onSearch)="onSearch($event)" (selected)="select($event)"></orb-expanding-search-box>
  <canvas
    (tap)="onFieldClick($event)"
    id="systemCanvas"
    #systemCanvas
    [width]="area.x"
    [height]="area.y"
  ></canvas>
</div>
