#systemView {
  width: 100vw;
  height: 100vh;
}

.info {
  position: absolute;
  color: #ccc;
}

#infoPane {
  top: 0;
  left: 0;
}

#planetInfo {
  top: 0;
  right: 0;
  margin-right: 1ex;
}

#controlPane {
  top: 0;
  right: 30%;
}

.currentSpeed {
  color:lime;
}

.scaleIndicator {
  text-align:left;
  white-space:nowrap;
  overflow:visible;
  border-bottom: 1px solid white;
}
