#searchbox {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  min-width: 1.5em;
  width: 0%;
  transition: width 0.3s;
  min-height: 1.5em;
}

#searchbox.open {
  width: 15em;
}

#searchText {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin-left: 2em;
  visibility: hidden;
  background: rgba(0, 0, 0,0.5);
  color: white;
}

#searchbox.open #searchText {
  visibility:visible;
}

#searchIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#searchResults {
  position: relative;
  float: right;
  padding-bottom: 1.5em;
  max-height: 6em;
}
