
.currentSpeed {
    color:lime;
    fill:lime !important;
  }
  
.simSpeedIcon {
  height: 2em;
  margin: 2px;
}

.speedBar {
  margin: 0.5ex;
  margin-bottom: 0;
  display: inline-block;
}

.speedBar svg {
  fill:white;
}